.nav {
  grid-area: n;
  display: grid;
  grid-column: auto;
  grid-template-rows: repeat(4, 40px) 90px 90px;

  padding: 20px;
  background-color: #07B568;

  .navLink {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .active {
    color: gold;
  }
}